@import "../variables.scss";
.playlist{
    @include unselectable();
    cursor: pointer;
    width:23vw;
    height:23vw;
    margin:.5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    backdrop-filter: blur(5px);
    img{
        width:inherit;
        height:inherit;
        object-fit: cover;
    }
    .glass{
        position: absolute;
        width:inherit;
        height:23.05vw;
        backdrop-filter: blur(.2vw);
        background-color: rgba(0, 0, 0, 0.15);
    }
    .glassMore{
        position: absolute;
        width:inherit;
        height:23.05vw;
        backdrop-filter: blur(.5vw);
        background-color: rgba(0, 0, 0, 0.5);
    }
    .edit{
        position: absolute;
        bottom:1vw;
        right:1vw;
        width:3vw;
        height:3vw;
        color:$green;
        opacity:0.6;
        transition: .2s;
        :first-child{
            height: inherit;
            width: inherit;
        }
    }
    .edit:hover{
        opacity: 1;
        transform:scale(1.1);
    }
    h1{
        width:23vw;
        padding:5vh;
        backdrop-filter: blur(.5vw);
        text-align: center;
        position:absolute;
        font-size:1.5vw;
    }
    ol{
        height:90%;
        width: 90%;
        position:absolute;
        list-style:none;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        li{
            color:$white;
            @include mainText(1vw)
        }
    }
}